.application {
   width: 80%;       
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease
}

.application h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.application p {
    font-size: 16px;
    margin-bottom: 5px;
}

.application p strong {
    color: #000000; 
}