  
  
  .equality-page {
    width: 80%;
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    color: #333;
    background-color: #fdfdfd;
    border: 1px solid #ddd;/* This is giving the line under each session.*/
    border-radius: 8px;
    
    }

    .equality-page h1 {
      text-align: center;
      margin-bottom: 30px;
      color: #2c3e50;
    }

    .equality-page h2 {
      margin-top: 30px;
      color: #34495e;
    }

    .equality-page ul {
      margin: 15px 0;
      padding-left: 25px;
    }

    .equality-page a {
      color: #007acc;
      text-decoration: none;
    }

    .equality-page a:hover {
      text-decoration: underline;
    }