body {
  background-color: #ffffff; 
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 60px;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.container {
  text-align: center;
  max-width: 420px;
  padding: 40px 30px;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}

h2 {
    font-size: large;
    font-weight: 600;
    margin-bottom: 20px;
    color: #111;
}

p {
    font-size: medium;
    color: #555;
    margin-bottom: 30px;
}

a {
  display: inline-block;
  text-decoration: none;
  background-color: #000;
  color: #fff;
  padding: 12px 26px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease;
}

a:hover {
  background-color: #333;
  transform: translateY(-1px);
}