body {
    padding: 20px;
    background: #ffffff;
}
.heading h1 {
    color: #000000;
    font-size: 16pt;
}

.profile-icon {
    font-size: 50px;
    color: #d89837;
    transition: transform 0.3s;
}

.profile-icon:hover {
    transform: scale(1.1); /* Enlarge icon on hover */
}
/* Colored Block */
 .colored-block {
  background-color: #fd8e18;
  color: #040000;
  padding: 5px;
  border-radius: 8px;
  margin: auto;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}