/* Homepage color block - hero-block */
.hero-block {
  background-color: #fd8e18; 
  color: white;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  position: relative;
}
.overlay {
  width: 100%;
  height: 30%;
}

.hero-text h1 {
  font-size: 2.5rem;
  margin: 0;
}

.hero-text p {
  font-size: 14pt;
  margin-top: 10px;
} 
.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.hero-text {
  flex: 1;
}
.cta-button {
  display: inline-block;
  background-color: white;
  color: #fd8e18;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #ffe2c4;
}

.hero-image {
  flex: 1;
  text-align: right;
}

.hero-image img {
  max-height: 300px;
  width: auto;
}

/* Banner container styling */
/* .banner {
  position: relative;
  width: 100%;
  height: 400px; // Set max height for the banner 
  overflow: hidden;
} */

/* Banner image styling */
/* .banner img {
  width: 100%;
  height: auto;
  display: block;
} */

.welcome-container {
  width: 70%;
  margin: auto;
  text-align: center;
  justify-items: center;
}

.welcome-container h1 {
  text-align: center;
  font-size: 18pt;
}

.welcome-container h3 {
  text-align: center;
  font-size: 14pt;
}
.welcome-container p {
  /* text-spacing-trim: 10pt; */
  font-size: 12pt;
  text-align: center;
}

main {
  text-align: center;
  padding: 2rem;
  font-size: 20pt;

}

.heading h1 {
  text-align: center;
  font-size: 40pt;
  font-weight: bold;
}
.heading p {
  font-size: 14pt;
  text-align: center;


}
.steps-process h1 {
  font-size: 40pt;
  text-align: center;
}
 /* Steps image container */
.steps-container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: flex-start; /* Aligns top of items */
  gap: 100px; /* Space between steps */
  margin-top: 40px;
}

.step {
  text-align: center;
}

.step i {
  font-size: 50px; /* Icon size */
  color: #060400; 
  margin-bottom: 10px;
}

.step p {
  font-size: 14px;
  font-weight:normal;
  color: #333;
}


/* Get starter registartion container styling */
.register-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 70%;
  margin: 20px auto;
  text-align: center;
  font-size:large;
}

/* Individual box */
.getstarted {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

/* Styling for headers */
.getstarted h3 {
  /* font-weight: bold; */
  font-size: 16pt;
  margin-bottom: 10px;
  color: #333;
  
}
.getstarted p {
  font-size: 12pt;
  
}
.getstarted a {
  font-weight: bold;

}
/* Call-to-action button styling */
.button {
  text-decoration: none;
  background-color: #fd8e18; /* Button background color */
  color: #333; /* Button text color */
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #fca951; /* Darker color on hover */
}

.message {
  width: 50%;
  text-align: center;
  padding: 10px;
  margin: auto;

}

.message h1 {
  font-size: 3rem;
}
.message p {
  font-size: 14pt;
  text-align: center;
  color: #323232;
}
/* footer section */
.footer-band {
  width: 100%;
  background-color: #fd8e18;
  color: rgb(5, 5, 5);
  /* text-align: center; */
  padding: 5px;
  /* position: fixed;  */ /* This give a fix position of the band when scrolling*/
  bottom: 0;
  left: 0;
 
}
.footer-band ul {
  justify-content: center; 
  align-items: center;
  /* background: #fd8e18; /This will give the bar*/ 
  list-style: none; /* Remove default list styling */
  padding: 1rem;
  margin: 0;
  display: flex;
  gap: 30px; /* Spacing between menu items */
}

.footer-band ul li {
    font-weight: bold;
}

.footer-band ul li a {
  text-decoration: none; /* Remove underline */
  color: #333;          
  font-size: 1.1em;      
  padding: 10px 15px;    /* Padding around links */
  transition: color 0.3s; /* Smooth hover effect */
}

.footer-band ul li a:hover {
    color: #000000; /* Change color on hover */
}


.policy-container {
  width: 100%;
  font-size: 10pt;
  text-align: center;
  background-color: #fd8e18;
  color: rgb(5, 5, 5);
  padding: 5px;
  bottom: 0;
  left: 0;
 
}

.policy-container ul {
  justify-content: center; 
  align-items: center;
  list-style:none; 
  padding: 10px;
  margin: 0;
  display: flex;
  gap: 10px; /* Spacing between menu items */
}
/* or circle, square  this will give the bullet points*/
/* .policy-container ul {
  list-style-type: disc; 
  padding-left: 20px;
}
 */
.policy-container li {
  margin-bottom: 10px;
}

.policy-container ul li a {
  text-decoration: underline; /* Remove underline */
  color: #333;          
  font-size: 10pt;      
  padding: 10px;    /* Padding around links */
  transition: color 0.3s; /* Smooth hover effect */
}
