.application {
   width: 80%;       
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease
}

.application h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.application p {
    font-size: 16px;
    margin-bottom: 5px;
}

.application p strong {
    color: #000000; 
}
/* Delete Button */
 .delete-btn {
    display: inline-block;
    background-color: #fd8e18;
    color: rgb(11, 11, 11);
    padding: 10px 15px;
    margin-top: 20px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .delete-btn:hover {
    background-color: #e67600;
  }