<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- Remember to add the first / at the begin when using these two on other page-->
  <link rel="stylesheet" href="stylesheets/styles-homepage.css">
  <link rel="stylesheet" href="stylesheets/styles-template.css">
 
  <title> Job Platform Homepage</title>
</head>
<body>
  <header>
   <!-- <img src="" alt=" " class="logo">-->
   <h1> LOGO </h1> 
   
</header>

<nav class="menu">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/jobs/jobsList"> Find a job </a></li>
    <li><a href="/pages/aboutUs">About Us </a></li>
    <li><a href="/pages/contactUs"> Contact Us </a></li>
  </ul>
</nav>

 <div class="header-container">
  
 
  <form action="/jobs/JobSearch" method="GET" class="search-container">
    <input type="text" name="query" class="search-input" placeholder="Search for jobs...">
    <button type="submit" class="search-btn">Search</button>
  </form>

<!--Login | Post a Job Section -->
  <div class="login-divider">
    <a href="/graduates/login" class="login-link">Graduates Login</a>     <span class="divider">|</span>
    <a href="/companies/login" class="login-link">Post a Job</a> 
  </div>
</div>
<!-- Barner Section -->
<!-- <div class="banner">
    <img src="Images/Find (8).png" alt="Banner Image">    
</div> -->

<section class="hero-block overlay-section">
  <div class="overlay">
  <div class="hero-content">
  <div class="hero-text">

  <h1> Connecting Bootcamp Talents with Forward-Thinking Employers</h1>
  <br>


  <!-- <h1> Hire a Teck Talent From Reputable Bootcamps With Confidence!</h1> -->
    <!-- <p>Your journey starts here.</p> -->
     <a href="/graduates/login" class="cta-button">Get Started</a>

  </div>
   <div class="hero-image">
        <!-- Optional: Add image later -->
        <!-- <img src=".png" alt=""> -->
      </div>
  </div>
  </div>
</section>
  <main>
    <section class="welcome-container">
      
      <h1> Welcome to the Job Platform </h1>
      
      <p> 
        Whether you're looking to hire top talent or a graduate ready to launch your career in tech, we've got you covered!
        <br>
        We connect motivated, job-ready developers from coding bootcamps with employers who value fresh ideas and practical skills.
        <br>
      </p>
    </section>
  </main>
  
<div class="heading"> 
  <h2>Find the Right Talent or Opportunity</h2>
  <p>Create your profile, apply for entry-level roles, or discover top candidates ready to make an impact from day one.</p>

</div>
  
<div class="register-container">
  <div class="getstarted" >
    <h3>Graduates</h3>
    <p>
      Launch your tech career!<br>
      Connect with top companies looking for fresh talent like you.
    </p>
    <br>
    <br>
  
    <a href="/graduates/signup" class="button">Get Started</a>
    <br>
    <br>
  </div>  

  <div class="getstarted" >
    <h3>Companies</h3>
    <p>
      Hire a Tech Bootcamp Graduate and bring fresh skills, <br>
      innovation, and growth to your company!
    </p>
    <br>
    <br>
    <a href="/companies/signup" class="button">Get Started</a>
    <br>
    <br>
  </div>  
</div>
<br> 
<div class="message">
  <h1> 
    We are just as selective<br>
     as you are!</h1>

    <p>
      We partner only with forward-thinking, inclusive companies that value fresh talent. 
      <br>
      From dynamic startups to growing tech teams, you will discover opportunities crafted for bootcamp
      graduates, featuring real projects, supportive environments, and entry-level roles that do not demand years of prior experience.
    </p>
    <br>

    <a href="/jobs/jobsList" class="button"> Explore </a>

</div>
<!--
  <div class="buttons">
    <a href="/companies" class="button">Recruiters</a>
    <a href="/graduates" class="button">Candidates</a>
  </div>
-->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  <div class="footer-band">
  <footer>
    <ul>
      <li><a href="/"> Home </a></li>
      <li><a href="pages/aboutUs"> About Us</a></li>
      <li><a href="pages/pricing"> Pricing </a></li>
      <li><a href="pages/contactUs"> Contact Us </a></li>
    </ul>

    <div class="policy-container">
      <ul>
        <li><a href="pages/privacyPolicy">Privacy Policy</a></li>
        <li><a href="pages/termsAndConditions">Terms &Conditions</a></li>
        <li><a href="pages/diversityAndEquality">Diversity, Equity & Inclusion</a></li>
      </ul>
    </div>
   
  <div class="copyright">
            
    <p>&copy; 2025 Job Platform. All Rights Reserved.</p>
  </div>

  </footer>
</div>
</body>
</html>