<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- Remember to add the first / at the begin when using these two on other page-->
  <link rel="stylesheet" href="stylesheets/styles-homepage.css">
  <link rel="stylesheet" href="stylesheets/styles-template.css">
 
  <title> Job Platform Homepage</title>
</head>
<body>
  <header>
   <!-- <img src="" alt=" " class="logo">-->
   <h1> LOGO </h1> 
   
</header>

<nav class="menu">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/jobs/jobsList"> Find a job </a></li>
    <li><a href="aboutUs">About Us </a></li>
    <li><a href="/pages/contactUs"> Contact Us </a></li>
  </ul>
</nav>

<!-- Seach Bar 
 https://www.w3schools.com/howto/howto_css_searchbar.asp -->

 <div class="header-container">
  
 
  <form action="/jobs/JobSearch" method="GET" class="search-container">
    <input type="text" name="query" class="search-input" placeholder="Search for jobs...">
    <button type="submit" class="search-btn">Search</button>
  </form>

<!--Login | Post a Job Section -->
  <div class="login-divider">
    <a href="/graduates/login" class="login-link">Graduates Login</a>     <span class="divider">|</span>
    <a href="/companies/login" class="login-link">Post a Job</a> 
  </div>
</div>
<hr>

<div class="banner">
    <img src="Images/Find (8).png" alt="Banner Image">    
</div>

  <br>
  <hr>
  <br>
  <main>
    <section>
      
      <h1> Welcome to the Job Platform </h1>
      <p>Whether you're looking to hire top talent or searching for your dream job, we've got you covered.</p>
     
  
    </section>
  </main>

<div class="heading"> 
  <h2>Find the Right Talent or Opportunity</h2>
</div>

   
   <div class="register-container">
   <div class="getstarted" >
    <h3>Graduates</h3>
    <p>
      Launch your tech career!<br>
      Connect with top companies looking for fresh talent like you.
    </p>
    <br>
    <br>
  
    <a href="/graduates/signup" class="button">Get Started</a>
    <br>
    <br>
  </div>  

  <div class="getstarted" >
    <h3>Companies</h3>
    <p>
      Hire a Tech Bootcamp Graduate and bring fresh skills, <br>
      innovation, and growth to your company!
    </p>
    <br>
    <br>
    <a href="/companies/signup" class="button">Get Started</a>
    <br>
    <br>
  </div>  
</div>
<br> 

<!--
  <div class="buttons">
    <a href="/companies" class="button">Recruiters</a>
    <a href="/graduates" class="button">Candidates</a>
  </div>
-->
<br>
<br>
<br>
<br>
<br>
<br>
  <div class="footer-band">
  <footer>
    <ul>
      <a href="homepage/index.ejs"> Home </a>
      <a href="pages/aboutUs.html"> About Us</a>
      <a href="pages/pricing.html"> Pricing </a>
      <a href="pages/contactMe.html"> Contact Us </a>
  </ul>
        
  <div class="copyright">
            
    <p>&copy; 2025 Job Platform. All Rights Reserved.</p>
  </div>

  </footer>
</div>
</body>
</html>