<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/styles-homepage.css">
  <link rel="stylesheet" href="/stylesheets/styles-template.css">
  <link rel="stylesheet" href="/stylesheets/styles-companies-dashboard.css">
  <link rel="stylesheet" href="/stylesheets/styles-jobs-jobsList.css">

  <!--Font Awesome CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">


  <title> Companies Dashboard</title>
</head>
<body>
  <header>
   <h1> LOGO </h1> 
   
</header>

<nav class="menu">
  <ul>
    <li><a href="/">Home</a></li>
    <!-- <li><a href="/jobs/jobsList"> Find a jobs</a></li> -->
    <li><a href="aboutUs">About Us </a></li>
    <li><a href="/pages/contactUs"> Contact Us </a></li>
  </ul>
</nav>
<br> 

<div class="header-container">
  <!-- | -->
  <div class="login-divider">
    <a href="/jobs/post-jobs" class="login-link"> Posted Jobs</a>     <span class="divider">|</span>
    <a href="/companies/applications" class="login-link"> Applications </a> 
    <!-- Profile icon -->
    <a href="/companies/profile">
    <i class="fas fa-user-circle" style="font-size: 50px; color: #d89837;"></i>
    </a>
    <a href="/companies/logout" style="text-decoration: none; color: #030303;"> 
    <i class="fas fa-sign-out-alt"></i> Logout
    </a>

  </div>
</div>
<br>
<br>
<br>
<div class="colored-block">
<div class="heading">
  <h1>Welcome To Your Dashboard</h1>
  </div>
  </div>
  <br>
<br>
<br>

  
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="footer-band">
    <footer>
      <ul>
        <a href="homepage/index.ejs"> Home </a>
        <a href="pages/aboutUs.html"> About Us</a>
        <a href="pages/pricing.html"> Pricing </a>
        <a href="pages/contactMe.html"> Contact Us </a>
    </ul>
          
    <div class="copyright">
              
      <p>&copy; 2025 Job Platform. All Rights Reserved.</p>
    </div>
  
    </footer>
  </div>
  </body>
</html>