<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/styles-login.css">
  <link rel="stylesheet" href="/stylesheets/styles-template.css">
  <link rel="stylesheet" href="/stylesheets/styles-login.css">  

  <title> Companies Login</title>
</head>
<body>
  <header>

   <h1> LOGO </h1> 
   
</header>

<nav class="menu">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="aboutUs">About Us </a></li>
    <li><a href="/pages/contactUs"> Contact Us </a></li>
  </ul>
</nav>

 
  <div class=" login-container">
    <h1>Login as Recruiter</h1>

    <form action="/companies/login" method="post">
     <input type="email" name="email" placeholder="Email" required> 
      <input type="password" name="password" placeholder="Password" required>
      <button type="submit" class="login-btn"> Login </button>
  </form>
        <p> 
          Don't have an account? <a href="/companies/signup"> Sign up</a>
        </p>
  </div>
  <br>
<br>
<br>
<br>
<br>
<br>
</body>

</html>