<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/styles-template.css">
  <link rel="stylesheet" href="/stylesheets/styles-companies-registration.css">

  <title> Companies Registration Form </title>
</head>
<body>
  <header>
   <!-- <img src="" alt=" " class="logo">-->
   <h1> LOGO </h1> 
   
</header>

<nav class="menu">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="aboutUs">About Us </a></li>
    <li><a href="/pages/contactUs"> Contact Us </a></li>
  </ul>
</nav>
<br>
<br>
<br>
<br>

<div class="registration-container">
  <h2>Register</h2>

  <form action="/companies/registrationForm" method="POST"> 

      <!-- Company Name -->
      <label for="companyName">Company Name</label>
      <input type="text" id="companyName" name="companyName" placeholder="Enter your company name" required>
      <br>
      <br>
      <!-- Contact Number -->
      <label for="contactNumber">Contact Number</label>
      <input type="tel" id="contactNumber" name="contactNumber" placeholder="Enter your contact number" required>
      <br>
      <br>
      <!-- Company Address -->
      <label for="companyAddress">Company Address</label>
      <textarea id="companyAddress" name="companyAddress" placeholder="Enter your company address" required></textarea>
      <br>
      <br>
      <!-- Company Profile -->
      <label for="companyProfile">Company Profile</label>
      <textarea id="companyProfile" name="companyProfile" placeholder="Enter a brief company profile" required></textarea>
      <br>
      <br>
      <!-- Submit Button -->
      <button type="submit">Submit</button>

  </form>
</div>
</body>
</html>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="footer-band">
    <footer>
      <ul>
        <a href="homepage/index.ejs"> Home </a>
        <a href="pages/aboutUs.html"> About Us</a>
        <a href="pages/pricing.html"> Pricing </a>
        <a href="pages/contactMe.html"> Contact Us </a>
    </ul>
          
    <div class="copyright">
              
      <p>&copy; 2025 Job Platform. All Rights Reserved.</p>
    </div>
  
    </footer>
  </div>
  </body>
  </html>