<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles-template.css">

    <title>Document</title>
</head>
<body>
    <header> 
        <img src="/Images/CodeLeap (A2 (Landscape)).png" alt="CodeLeap Logo" class="logo">

    </header>

</body>
</html>