<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/styles-homepage.css">
  <link rel="stylesheet" href="stylesheets/styles-template.css">
  <link rel="stylesheet" href="stylesheets/styles-dashboard.css">

  
  <title> Graduates Dashboard</title>
</head>
<body>
  <header>
   <h1> LOGO </h1> 
   
</header>

<nav class="menu">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/jobs/jobsList"> Find a jobs</a></li>
    <li><a href="aboutUs">About Us </a></li>
    <li><a href="/pages/contactUs"> Contact Us </a></li>
  </ul>
</nav>

 <div class="header-container">
  
  <form action="/jobs/search" method="GET" class="search-container">
    <input type="text" name="query" class="search-input" placeholder="Search for jobs...">
    <button type="submit" class="search-btn">Search</button>
  </form>

<!-- | -->
  <div class="login-divider">
    <a href="/graduates/savedJobs" class="login-link">Saved Jobs</a>     <span class="divider">|</span>
    <a href="/graduates/myApplications" class="login-link"> My Applications </a> 
  </div>
</div>
<hr>
<br>
<br>
<br>

<div class="heading">
<h1>Welcome to Your Job Dashboard</h1>
</div>

<br>
<br>
<br>
<div class="footer-band">
    <footer>
      <ul>
        <a href="homepage/index.ejs"> Home </a>
        <a href="pages/aboutUs.html"> About Us</a>
        <a href="pages/pricing.html"> Pricing </a>
        <a href="pages/contactMe.html"> Contact Us </a>
    </ul>
          
    <div class="copyright">
              
      <p>&copy; 2025 Job Platform. All Rights Reserved.</p>
    </div>
  
    </footer>
  </div>
  </body>
  </html>

<!-- <!DOCTYPE html>
<html>

<body>
  <h2>
    Logged in as user <%= graduate.id %> (email: <%= graduate.email %>)
  </h2>
</body>

</html> -->
