<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/styles-graduates-login.css">
  <link rel="stylesheet" href="/stylesheets/styles-template.css">
  
  <title> Job Platform Homepage</title>
</head>
<body>
  <header>
   <!-- <img src="" alt=" " class="logo">-->
   <h1> LOGO </h1> 
   
</header>

<nav class="menu">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="aboutUs">About Us </a></li>
    <li><a href="/pages/contactUs"> Contact Us </a></li>
  </ul>
</nav>

  <h1>Login as graduate</h1>
  <div class=" login-container">
    <!-- <form action="/graduates/login" method="post">
      <input type="text" name="username" placeholder="Username" required>
      <input type="password" name="password" placeholder="Password" required>
      <input type="submit" value="Login">
      <button type="submit" class="login-btn">Login</button>
    </form>  -->

    <form action="/graduates/login" method="post">
<<<<<<< HEAD
     <input type="email" name="email" placeholder="Email" required> 
=======
     <input type="email" name="email" placeholder="Email" value="email" required> 
>>>>>>> GraduatesRegistration
      <input type="password" name="password" placeholder="Password" required>
      <button type="submit" class="login-btn"> Login </button>
  </form>
        <p> 
          Don't have an account? <a href="/graduates/signup"> Sign up</a>
        </p>
  </div>
  <br>
<br>
<br>
<br>
<br>
<br>
</body>

</html>
