<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/styles-homepage.css">
  <title> Job Platform Homepage</title>
</head>
<body>
  <header>
   <!-- <img src="" alt=" " class="logo">-->
   <h1> LOGO </h1> 
   
</header>

<nav class="menu">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/jobs/jobs.List"> Find a jobs</a></li>
    <li><a href="aboutUs">About Us </a></li>
    <li><a href="/pages/contactUs"> Contact Us </a></li>
  </ul>
</nav>

<!-- Seach Bar 
 https://www.w3schools.com/howto/howto_css_searchbar.asp -->

 <div class="header-container">
  
  <!--<div class="search-container">
    <input type="text" class="search-input" placeholder="Search for jobs...">
    <button class="search-btn">Search</button>

  </div>-->
  <form action="/jobs/search" method="GET" class="search-container">
    <input type="text" name="query" class="search-input" placeholder="Search for jobs...">
    <button type="submit" class="search-btn">Search</button>
  </form>

<!--Login | Post a Job Section -->
  <div class="login-divider">
    <a href="graduates/login" class="login-link">Login</a>
    <span class="divider">|</span>
    <a href="/companies/post-job" class="login-link">Post a Job</a> 
  </div>
</div>
<hr>

<div class="footer-band">
    <footer>
      <ul>
        <a href="homepage/index.ejs"> Home </a>
        <a href="pages/aboutUs.html"> About Us</a>
        <a href="pages/pricing.html"> Pricing </a>
        <a href="pages/contactMe.html"> Contact Us </a>
    </ul>
          
    <div class="copyright">
              
      <p>&copy; 2025 Job Platform. All Rights Reserved.</p>
    </div>
  
    </footer>
  </div>
  </body>
  </html>