<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/styles-template.css">
  <link rel="stylesheet" href="/stylesheets/styles-graduates-registration.css">

  <title> Registration Form </title>
</head>
<body>
  <header>
   <!-- <img src="" alt=" " class="logo">-->
   <h1> LOGO </h1> 
   
</header>

<nav class="menu">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/jobs/jobsList"> Find a jobs</a></li>
    <li><a href="aboutUs">About Us </a></li>
    <li><a href="/pages/contactUs"> Contact Us </a></li>
  </ul>
</nav>
<br>
<br>
<br>
<br>
<div class="registration-container">
  <h2>Register</h2>

  <form action="/graduates/registrationForm" method="POST"> 
    <!-- <form action="/upload-certificate" method="POST" enctype="multipart/form-data"></form> -->
    <!-- First Name -->
    <label for="firstName"> First Name</label>
    <input type="text" name="firstName" placeholder="Enter your first name" required>
 <br>
 <br>
    <!-- Last Name -->
    <input type="text" name="lastName" placeholder="Enter your last name" required>
 <br>
  <br>
    <!-- Contact Number -->
    <input type="text" name="contactNumber" placeholder="Enter your contact number" required>
 <br>
  <br>
    <!-- Qualification -->
    <input type="text" name="qualification" placeholder="Enter your qualification" required>
  <br>
  <br>
    <!-- Bootcamp Institute -->
    <input type="text" name="bootcampInstitute" placeholder="Enter bootcamp institute name" required>
  <br>
  <br>
    <!-- Graduation Year -->
    <input type="number" name="graduationYear" placeholder="Enter your graduation year" required>
  <br>
  <br>
    <!-- Skills -->
    <input type="text" name="skills" placeholder="Enter your skills (comma-separated)" required>
  <br>
  <br>
    <!-- Certificate Upload -->
    <input type="file" name="certificatePath">
  <br>
  <br>
    <!-- Submit Button -->
    <button type="submit">Submit</button>
 </form>

</div>
<br>
<br>
<br>
<br>


<div class="footer-band">
    <footer>
      <ul>
        <a href="homepage/index.ejs"> Home </a>
        <a href="pages/aboutUs.html"> About Us</a>
        <a href="pages/pricing.html"> Pricing </a>
        <a href="pages/contactMe.html"> Contact Us </a>
    </ul>
          
    <div class="copyright">
              
      <p>&copy; 2025 Job Platform. All Rights Reserved.</p>
    </div>
  
    </footer>
  </div>
  </body>
  </html>